<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1>Hotel Booking</h1>

    <header>
        <a href="{% url 'room-list' %}">Rooms</a>
        <a href="{% url 'book-room' %}">Booking</a>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        © 2026 Hotel Booking System
    </footer>

</body>